h1 {
    text-align: center;
}

body {
    background-color: #171717;
    color: white;
}

.recipe-list {
    margin: auto;
    width: 50%;
    padding: 5px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

